{% extends 'base.html' %}
{% block content %}

<h2>Products</h2>
<a href="/products/add/" class="btn btn-primary">Add Product</a>

<table class="table mt-3">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
